<!--
{% DEFINE SIDEBAR = 'no' %} Options: YES | NO
{% DEFINE SOCIALBUTTONS = 'no' %} Options: YES | NO
{% DEFINE ACCENTCOLOR = '#de7300' %} Add any color you want any format is accepatble hex/hsl/rgb
{% DEFINE COLORPICKER = 'yes' %} Options: YES | NO
{% DEFINE THEMESWITCHER = 'yes' %} Options: YES | NO
{% DEFINE SUBFORUM = 'top' %} Options: TOP | BOTTOM
{% DEFINE PROFILE = 'right' %} Options: LEFT | RIGHT
{% DEFINE LOGO = 'image' %} Options: IMAGE | SVG
{% DEFINE SEARCHBAR = 'navigation' %} Options: NAVIGATION | HEADBAR

-->

