<!DOCTYPE html>
<html style="
	--bg-clr: #000000;
    --main-clr: #171717;
    --sec-clr: #262626;
    --txt-clr: #e9ebee;
    --extra-clr: #101010;" dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#171717">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#171717">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#171717">
<meta name="color-scheme" content="">
{{ META }}
<title>{{ SITENAME }} &bull; {% if S_IN_MCP %}{{ lang('MCP') }} &bull; {% elseif S_IN_UCP %}{{ lang('UCP') }} &bull; {% endif %}{{ PAGE_TITLE }}</title>

{% if S_ALLOW_CDN %}
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.min.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
{% endif %}
<link href="{{ T_FONT_AWESOME_LINK }}" rel="stylesheet">
<link href="{{ T_STYLESHEET_LINK }}" rel="stylesheet">
<link href="{T_THEME_PATH}/accent.css" rel="stylesheet">
{% INCLUDE 'options.html' %}
	{% if definition.ACCENTCOLOR == 'orange'%}
	<script>
	document.documentElement.style.setProperty("--accent-color", "#de7300");
	</script>
	{% endif %}
	{% if definition.ACCENTCOLOR == 'blue'%}
	<script>
	document.documentElement.style.setProperty("--accent-color", "#0092de");
	</script>
	{% endif %}
	{% if definition.ACCENTCOLOR == 'green'%}
	<script>
	document.documentElement.style.setProperty("--accent-color", "#00de1f");
	</script>	
	{% endif %}
	{% if definition.ACCENTCOLOR == 'cyan'%}
	<script>
	document.documentElement.style.setProperty("--accent-color", "#00c1de");
	</script>	
	{% endif %}
	{% if definition.ACCENTCOLOR == 'violet'%}
	<script>
	document.documentElement.style.setProperty("--accent-color", "#7d00de");
	</script>	
	{% endif %}
	{% if definition.ACCENTCOLOR == 'custom'%}
	<script>
	document.documentElement.style.setProperty("--accent-color", "#de7300");
	</script>	
	{% endif %}
<link href="{{ T_THEME_PATH }}/css/hexagon.css" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:normal,bold" />
{% if definition.COLORPICKER == 'yes' %}
<script>
	const colorswitch = localStorage.getItem("colorpickerReborn");
	const root = document.documentElement;
// Set the user's selection
switch (colorswitch) {
	case "orange":
		root.style.setProperty("--accent-color", "#de7300");
		root.setAttribute('data-accent', 'orange')
		break;
	case "blue":
		root.style.setProperty("--accent-color", "#0092de");
		root.setAttribute('data-accent', 'blue')
		break;
	case "green":
		root.style.setProperty("--accent-color", "#00de1f");
		root.setAttribute('data-accent', 'green')
		break;
	case "cyan":
		root.style.setProperty("--accent-color", "#00c1de");
		root.setAttribute('data-accent', 'cyan')
		break;
	case "violet":
		root.style.setProperty("--accent-color", "#7d00de");
		root.setAttribute('data-accent', 'violet')
		break;
	case "custom":
		let accentColor = localStorage.getItem("accent");
		root.style.setProperty("--accent-color", accentColor);
		root.setAttribute('data-accent', 'custom')
		break;
	default:
}
</script>
{% endif %}
{% if S_CONTENT_DIRECTION eq 'rtl' %}
	<link href="{{ T_THEME_PATH }}/bidi.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
{% endif %}

<!--[if lte IE 8]>
	<link href="{{ T_THEME_PATH }}/tweaks.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
<![endif]-->

{% DEFINE POPUP = 1 %}

{% EVENT simple_header_head_append %}

{{ definition.STYLESHEETS }}

{% EVENT simple_header_stylesheets_after %}

</head>

<body id="phpbb" class="nojs {{ S_CONTENT_DIRECTION }} {{ BODY_CLASS }}">

{% EVENT simple_header_body_before %}

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-body" class="page-body" role="main">
