{% INCLUDE 'ucp_header.html' %}

<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>

<h2>{{ lang('TITLE') }}</h2>

<div class="panel">
	<div class="inner">

	<fieldset>
	
	{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}
	{% EVENT ucp_prefs_personal_prepend %}
	{% if definition.COLORPICKER == 'yes' %}
	{% if definition.COLORPICKERPOSITION == 'ucp' %}
	<dl>
		<dt><label>ColorPicker {{ lang('COLON') }}</label></dt>
		<dd>
        <a style="display: none;" class="colorbutton colororange" href="#"></a>
		<a style="display: none;" class="colorbutton colorgreen" href="#"></a>
		<a style="display: none;" class="colorbutton colorblue" href="#"></a>
		<a style="display: none;" class="colorbutton colorcyan" href="#"></a>
		<a style="display: none;" class="colorbutton colorviolet" href="#"></a>
	{% if definition.CUSTOMCOLORPICKERCOLOR == 'yes' %}	
		<a style="display: none;" class="colorbutton colorcustom" href="#"></a>
	{% endif %}	
		<a class="clearstorage" style="display: none; vertical-align: middle;" href="#" title="{L_RESET}"><i class="icon fa-trash fa-fw icon-xl" aria-hidden="false"></i></a>
		<fieldset id="theme">
    <input type="radio" name="theme" id="orange">
    <input type="radio" name="theme" id="blue">
    <input type="radio" name="theme" id="green">   
    <input type="radio" name="theme" id="cyan">
    <input type="radio" name="theme" id="violet">
    <input type="radio" name="theme" id="custom">
  </fieldset>

	</dd>
	</dl>
	<dl>
	<dt><label>Theme Switcher {{ lang('COLON') }}</label></dt>
	<dd>
		<a style="display: none;" id="toggle" href="#"><i class="themeIcon icon icon-xl fa-fw" aria-hidden="false"></i><span></span></a>
		<input type="checkbox" name="Theme" id="Theme">
		<label for="Theme" id="themes">
			<i class="icon icon-xl fa-sun-o fa-fw"></i>
			<i class="icon icon-xl fa-moon-o fa-fw"></i>
		</label>
	</dd>
	</dl>
	<dl>
	<dt><label>ColorPicker 2.0 {{ lang('COLON') }}</label></dt>
	<dd><input type="color" id="accent" ><a class="clearstorage2" style="vertical-align: middle;" href="#" title="{L_RESET}"><i class="icon fa-trash fa-fw icon-xl" aria-hidden="false"></i></a></dd>
	</dl>
	{% endif %}
	{% endif %}
	<dl>
		<dt><label for="viewemail0">{{ lang('SHOW_EMAIL') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="viewemail1"><input type="radio" name="viewemail" id="viewemail1" value="1"{% if S_VIEW_EMAIL %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="viewemail0"><input type="radio" name="viewemail" id="viewemail0" value="0"{% if not S_VIEW_EMAIL %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="massemail1">{{ lang('ADMIN_EMAIL') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="massemail1"><input type="radio" name="massemail" id="massemail1" value="1"{% if S_MASS_EMAIL %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="massemail0"><input type="radio" name="massemail" id="massemail0" value="0"{% if not S_MASS_EMAIL %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="allowpm1">{{ lang('ALLOW_PM') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALLOW_PM_EXPLAIN') }}</span></dt>
		<dd>
			<label for="allowpm1"><input type="radio" name="allowpm" id="allowpm1" value="1"{% if S_ALLOW_PM %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="allowpm0"><input type="radio" name="allowpm" id="allowpm0" value="0"{% if not S_ALLOW_PM %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	{% if S_CAN_HIDE_ONLINE %}
	<dl>
		<dt><label for="hideonline0">{{ lang('HIDE_ONLINE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('HIDE_ONLINE_EXPLAIN') }}</span></dt>
		<dd>
			<label for="hideonline1"><input type="radio" name="hideonline" id="hideonline1" value="1"{% if S_HIDE_ONLINE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="hideonline0"><input type="radio" name="hideonline" id="hideonline0" value="0"{% if not S_HIDE_ONLINE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	{% endif %}
	{% if S_SELECT_NOTIFY %}
	<dl>
		<dt><label for="notifymethod0">{{ lang('NOTIFY_METHOD') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="notifymethod0"><input type="radio" name="notifymethod" id="notifymethod0" value="0"{% if S_NOTIFY_EMAIL %} checked="checked"{% endif %} /> {{ lang('NOTIFY_METHOD_EMAIL') }}</label>
			<label for="notifymethod1"><input type="radio" name="notifymethod" id="notifymethod1" value="1"{% if S_NOTIFY_IM %} checked="checked"{% endif %} /> {{ lang('NOTIFY_METHOD_IM') }}</label>
			<label for="notifymethod2"><input type="radio" name="notifymethod" id="notifymethod2" value="2"{% if S_NOTIFY_BOTH %} checked="checked"{% endif %} /> {{ lang('NOTIFY_METHOD_BOTH') }}</label>
		</dd>
	</dl>
	{% endif %}
	{% if S_MORE_LANGUAGES %}
	<dl>
		<dt><label for="lang">{{ lang('BOARD_LANGUAGE') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="lang" id="lang">{{ S_LANG_OPTIONS }}</select></dd>
	</dl>
	{% endif %}
	{% if S_STYLE_OPTIONS and S_MORE_STYLES %}
	<dl>
		<dt><label for="user_style">{{ lang('BOARD_STYLE') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="user_style" id="user_style">{{ S_STYLE_OPTIONS }}</select></dd>
	</dl>
	{% endif %}
	{% INCLUDE 'timezone_option.html' %}
	<dl>
		<dt><label for="dateformat">{{ lang('BOARD_DATE_FORMAT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('BOARD_DATE_FORMAT_EXPLAIN') }}</span></dt>
		<dd>
			<select name="dateoptions" id="dateoptions" onchange="if(this.value=='custom'){phpbb.toggleDisplay('custom_date',1);}else{phpbb.toggleDisplay('custom_date',-1);} if (this.value == 'custom') { document.getElementById('dateformat').value = default_dateformat; } else { document.getElementById('dateformat').value = this.value; }">
				{{ S_DATEFORMAT_OPTIONS }}
			</select>
		</dd>
		<dd id="custom_date" style="display:none;"><input type="text" name="dateformat" id="dateformat" value="{{ DATE_FORMAT }}" maxlength="64" class="inputbox narrow" style="margin-top: 3px;" /></dd>
	</dl>
	{% EVENT ucp_prefs_personal_append %}
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
	{{ S_FORM_TOKEN }}
</fieldset>
</form>

<script>
	var date_format = '{{ A_DATE_FORMAT }}';
	var default_dateformat = '{{ A_DEFAULT_DATEFORMAT }}';

	function customDates()
	{
		var e = document.getElementById('dateoptions');

		e.selectedIndex = e.length - 1;

		// Loop and match date_format in menu
		for (var i = 0; i < e.length; i++)
		{
			if (e.options[i].value == date_format)
			{
				e.selectedIndex = i;
				break;
			}
		}

		// Show/hide custom field
		if (e.selectedIndex == e.length - 1)
		{
			phpbb.toggleDisplay('custom_date',1);
		}
		else
		{
			phpbb.toggleDisplay('custom_date',-1);
		}
	}

	window.onload = customDates;
</script>
{% if definition.COLORPICKER == 'yes' %}
<script>
// This gets the input and saves it in localStorage
const ColorPicker = document.querySelector("#accent");
ColorPicker.addEventListener("input", function () {
    let accentColor = ColorPicker.value;
    root.style.setProperty("--accent-color", accentColor);
    localStorage.setItem("accent", accentColor);
	document.querySelector(".colorcustom").style.backgroundColor = accentColor
	document.querySelector('input[id="custom"]').style.accentColor = accentColor
  },
  false
);
// This sets the color value for input
if( localStorage.getItem("accent") === null ) {
	ColorPicker.value = "#de7300";}else {
let accentColor = localStorage.getItem("accent");
	ColorPicker.value = accentColor;
	document.querySelector(".colorcustom").style.backgroundColor = accentColor
	document.querySelector('input[id="custom"]').style.accentColor = accentColor
}

// Clears LocalStorage on trashbin click
const ColorPickerClear = document.querySelector(".clearstorage2");
ColorPickerClear.addEventListener('click', function() {
	localStorage.removeItem('accent');
	window.location.reload(true);
	});

document.querySelector("#toggle").addEventListener('click', ()=>{
	let state = localStorage.getItem("Theme");
	let statePref = localStorage.getItem("ThemePref")
	if (state == 'Dark'){
		// setLightTheme();
		setIconMoon();
		localStorage.setItem("Theme", 'Light')
	}else{
		// setDarkTheme();
		setIconSun();
		localStorage.setItem("Theme", 'Dark')
	}

})
const checkbox = document.querySelector("input[name=Theme]");
checkbox.addEventListener('change', function() {
  if (this.checked) {
	  console.log("Checkbox is checked..");
	// setDarkTheme();
	localStorage.setItem("Theme", 'Dark')
} else {
	console.log("Checkbox is not checked..");
	// setLightTheme();
	localStorage.setItem("Theme", 'Light')
  }
});

function setIconMoon() {
	toggleIcon.classList.add('fa-moon-o');
	toggleIcon.classList.remove('fa-sun-o');
	toggleIcon.setAttribute('title', 'Switch to Dark Theme')
}
function setIconSun(){
	toggleIcon.classList.add('fa-sun-o');	
	toggleIcon.classList.remove('fa-moon-o');
	toggleIcon.setAttribute('title', 'Switch to Light Theme')	
}

let radios = document.querySelectorAll(`input[name="theme"]`);

radios.forEach((radio) => {
  radio.addEventListener("change", (e) => {
    localStorage.setItem("colorpickerReborn", e.target.id);
  });
});
const lS = localStorage.getItem("colorpickerReborn");
console.log(lS)
switch (lS) {
  case "orange":
   document.querySelector('input[id="orange"]').checked = "true";
    break;
  case "blue":
   document.querySelector('input[id="blue"]').checked = "true";
    break;
  case "green":
   document.querySelector('input[id="green"]').checked = "true";
    break;
  case "cyan":
   document.querySelector('input[id="cyan"]').checked = "true";
    break;
  case "violet":
   document.querySelector('input[id="violet"]').checked = "true";
    break;
  case "custom":
   document.querySelector('input[id="custom"]').checked = "true";
    break;
  default:
   document.querySelector('input[id="orange"]').checked = "true";
}

</script>
{% endif %}
{% INCLUDE 'ucp_footer.html' %}
