@media (prefers-color-scheme: dark) {
	:root {
		--bg-clr: #000000;
		--main-clr: #171717;
		--sec-clr: #262626;
		--txt-clr: #e9ebee;
		--extra-clr: #101010;
	}

	html,
	body {
		--s: 16px;
		--c: #0000, hsl(0deg 0% 15% / 50%)
			/* first color */
			.5deg 119.5deg, #0000 120deg;
		--g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
		--g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
		--g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
		background: var(--g1), var(--g1) var(--s) calc(1.73* var(--s)), var(--g2), var(--g2) var(--s) calc(1.73* var(--s)), var(--g3) var(--s) 0, var(--g3) 0 calc(1.73* var(--s)) hsl(0 0% 9% / 1);
		background-image: url("./images/bg.jpg");
		background-size: calc(2* var(--s)) calc(3.46* var(--s));
		color-scheme: dark;
	}

	.no-avatar .avatar-container {
		background-image: url("./images/no_avatar.gif");
	}

	.headerbar {
		/* background-image: url("./images/banner.jpg"); */
		background-image: linear-gradient(45deg, var(--sec-clr), var(--main-clr));
	}

	.loading_indicator {
		background-image: url("./images/loading.gif");
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-clr: #ffffff;
		--main-clr: #e8e8e8;
		--sec-clr: #d9d9d9;
		--txt-clr: #161411;
		--extra-clr: #efefef;
	}

	html,
	body {
		--s: 16px;
		--c: #0000, hsl(0deg 0% 90.98% / 50%)
			/* first color */
			.5deg 119.5deg, #0000 120deg;
		--g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
		--g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
		--g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
		background: var(--g1), var(--g1) var(--s) calc(1.73* var(--s)), var(--g2), var(--g2) var(--s) calc(1.73* var(--s)), var(--g3) var(--s) 0, var(--g3) 0 calc(1.73* var(--s)) hsl(0deg 0% 85.1%);
		background-image: url("./images/bg-light.jpg");
		background-size: calc(2* var(--s)) calc(3.46* var(--s));
		color-scheme: light;
	}

	.headerbar {
		background-image: url("./images/banner-light.jpg");
		background-image: linear-gradient(45deg, var(--bg-clr), var(--extra-clr));
	}

	.no-avatar .avatar-container {
		background-image: url("./images/noavatar.gif");
	}

	.loading_indicator {
		background-image: url("./images/loadinglight.gif");
	}
}

[data-theme="dark"] {
	--bg-clr: #000000;
	--main-clr: #171717;
	--sec-clr: #262626;
	--txt-clr: #e9ebee;
	--extra-clr: #101010;
}

[data-theme="light"] {
	--bg-clr: #ffffff;
	--main-clr: #e8e8e8;
	--sec-clr: #d9d9d9;
	--txt-clr: #161411;
	--extra-clr: #efefef;
}

html[data-theme="dark"],
[data-theme="dark"] body {
	--s: 16px;
	--c: #0000, hsl(0deg 0% 15% / 50%)
		/* first color */
		.5deg 119.5deg, #0000 120deg;
	--g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
	--g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
	--g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
	background: var(--g1), var(--g1) var(--s) calc(1.73* var(--s)), var(--g2), var(--g2) var(--s) calc(1.73* var(--s)), var(--g3) var(--s) 0, var(--g3) 0 calc(1.73* var(--s)) hsl(0 0% 9% / 1);
	background-image: url("./images/bg.jpg");
	background-size: calc(2* var(--s)) calc(3.46* var(--s));
}

[data-theme="dark"] .headerbar {
	/* background-image: url("./images/banner.jpg"); */
	background-image: linear-gradient(45deg, var(--sec-clr), var(--main-clr));
}

[data-theme="dark"] .no-avatar .avatar-container {
	background-image: url("./images/no_avatar.gif");
}


html[data-theme="light"],
[data-theme="light"] body {
	--s: 16px;
	--c: #0000, hsl(0deg 0% 90.98% / 50%)
		/* first color */
		.5deg 119.5deg, #0000 120deg;
	--g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
	--g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
	--g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
	background: var(--g1), var(--g1) var(--s) calc(1.73* var(--s)), var(--g2), var(--g2) var(--s) calc(1.73* var(--s)), var(--g3) var(--s) 0, var(--g3) 0 calc(1.73* var(--s)) hsl(0deg 0% 85.1%);
	background-image: url("./images/bg-light.jpg");
	background-size: calc(2* var(--s)) calc(3.46* var(--s));
}

[data-theme="light"] .headerbar {
	background-image: url("./images/banner-light.jpg");
	background-image: linear-gradient(45deg, var(--bg-clr), var(--extra-clr));
}

[data-theme="light"] .no-avatar .avatar-container {
	background-image: url("./images/noavatar.gif");
}

.loading_indicator {
	background-image: url("./images/loading.gif");
}

[data-theme="light"] .loading_indicator {
	background-image: url("./images/loadinglight.gif");
}

/*
--------------------------------------------------------------
Style oriented edits
-------------------------------------------------------------- */
ul#nav-main {
	position: sticky;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	margin: auto;
	padding: 5px 0;
}

@media (max-width: 700px) {
	.nav-main .icon {
		font-size: 30px;
	}
}

.member-search.panel {
	box-shadow: none;
}

li.rightside.responsive-search {
	display: none;
}

.search-box-headbar {
	position: relative;
	top: 20px;
	right: 10px;
}

li#search-box {
	top: 0;
	float: right;
}

.topicheader {
	padding: 10px 5px;
}

.cat {
	padding-left: 3px;
}

#review {
	margin: 4px 0;
	padding: 5px;
}

.sidebar-body {
	float: left;
	width: 100%;
	margin-right: -260px;
}

.page-body-inner {
	margin-right: 260px;
}

.sidebar {
	float: right;
	width: 250px;
	margin: 10px 0;
}

#page-footer {
	clear: both;
}

@media (max-width: 1000px) {

	#page-body,
	.page-body-inner {
		float: none;
		width: auto;
		margin-right: 0;
	}

	.sidebar {
		float: none;
		clear: both;
		margin: 0 auto;
	}
}

#social_buttons {
	width: 280px;
	margin: 5px auto;
}

.social-icon {
	font-size: 28px;
	padding: 0 5px;
}

.social-icon:hover {
	font-size: 25px;
	padding: 0 5px;
}

h2.topic-title,
.forum-title {
	padding: 2px 5px;
}

.action-bar.bar-top,
.action-bar.bar-bottom {
	margin-bottom: 10px;
	padding: 10px 10px;
}

.profile-left {
	border: 1px solid transparent;
	border-width: 0px 1px 0 0;
	float: left;
}

.profile-left+.postbody {
	margin: 0 0 0 5px;
}

a.button.hexagonbutton {
	padding: 2px 3px;
}

a.button.button-icon-only.hexagonbutton {
	padding: 2px 3px;
}

@media (max-width: 700px) {
	a.button.hexagonbutton {
		line-height: 0.7;
		padding: 2px 5px;
	}
}

@media (max-width: 700px) {
	.profile-left {
		float: none;
	}

	.profile-left+.postbody {
		margin: 0;
	}
}

@media (max-width: 700px) {
	a.button.button-icon-only.hexagonbutton {
		padding: 3px 5px;
	}
}

fieldset.fields1 dt {
	padding: 3px 5px;
}

@media (max-width: 700px) {
	.post-buttons {
		margin: 0;
	}
}

dl.panel {
	box-shadow: 0 0 4px transparent;
}

.sort-tools .pointer,
.topic-tools .pointer,
.quickmod .pointer {
	left: 4px;
}

.fa-legal:before,
.fa-gavel:before,
.fa-wrench:before {
	margin-left: -5px;
}

.caret .icon {
	font-size: 10px;
}

.site_logo {
	background-image: url(./images/logo.png);
}

.site-des {
	display: none;
}

@media (max-width: 1024px) {
	.headbar {
		background-size: cover;
	}
}

.row-item:before,
.row-item:after {
	font-family: hexagon;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 10px;
	padding: 0px;
	transform: translateY(-50%);
}

.global_read:before,
.global_read_mine:before,
.announce_read:before,
.announce_read_mine:before,
.sticky_read:before,
.sticky_read_mine:before,
.global_unread:before,
.global_unread_mine:before,
.announce_unread:before,
.announce_unread_mine:before,
.sticky_unread:before,
.sticky_unread_mine:before,
.global_read_locked:before,
.global_read_locked_mine:before,
.announce_read_locked:before,
.announce_read_locked_mine:before,
.forum_read_locked:before,
.sticky_read_locked:before,
.sticky_read_locked_mine:before,
.topic_read_locked:before,
.topic_read_locked_mine:before,
.global_unread_locked:before,
.global_unread_locked_mine:before,
.announce_unread_locked:before,
.announce_unread_locked_mine:before,
.forum_unread_locked:before,
.topic_unread_locked:before,
.topic_unread_locked_mine:before,
.global_unread_locked:before,
.global_unread_locked_mine:before,
.announce_unread_locked:before,
.announce_unread_locked_mine:before,
.forum_unread_locked:before,
.topic_unread_locked:before,
.topic_unread_locked_mine:before,
.forum_read:before,
.forum_read_subforum:before,
.topic_read:before,
.topic_read_mine:before,
.forum_unread:before,
.forum_unread_subforum:before,
.topic_unread:before,
.topic_unread_mine:before,
.sticky_unread_locked:before,
.sticky_unread_locked_mine:before,
.topic_moved:before,
.topic_read_hot:before,
.topic_read_hot_mine:before,
.topic_unread_hot:before,
.topic_unread_hot_mine:before,
.pm_read:before,
.pm_unread:before {
	content: "\e800";
}

.forum_link:before {
	font-family: FontAwesome;
	content: "\f08e";
}

.forum_unread_subforum:after {
	font-size: 15px;
	margin: 10px 0 0 16px;
	content: "\e800";
}

.forum_read_subforum:after {
	font-size: 15px;
	margin: 10px 0 0 16px;
	content: "\e800";
}

.forum_read_locked:after,
.global_read_locked:after,
.global_read_locked_mine:after,
.announce_read_locked:after,
.announce_read_locked_mine:after,
.sticky_read_locked:after,
.sticky_read_locked_mine:after,
.topic_read_locked:after,
.topic_read_locked_mine:after {
	font-family: FontAwesome;
	font-size: 20px;
	margin: 1px 0 0 9px;
	content: "\f023";
}

.forum_unread_locked:after,
.global_unread_locked:after,
.global_unread_locked_mine:after,
.announce_unread_locked:after,
.announce_unread_locked_mine:after,
.sticky_unread_locked:after,
.sticky_unread_locked_mine:after,
.topic_unread_locked:after,
.topic_unread_locked_mine:after {
	font-family: FontAwesome;
	font-size: 20px;
	margin: 1px 0 0 9px;
	content: "\f023";
}

.topic_read_hot:after,
.topic_read_hot_mine:after,
.topic_unread_hot:after,
.topic_unread_hot_mine:after {
	font-family: FontAwesome;
	font-size: 20px;
	top: 38%;
	margin: 0 0 0 10px;
	content: "\f0e7";
	-webkit-animation: pulse 2s linear infinite;
	-moz-animation: pulse 2s linear infinite;
	animation: pulse 2s linear infinite;
}

.global_read,
.global_read_mine,
.global_read_locked,
.global_read_locked_mine,
.global_unread,
.global_unread_mine,
.global_unread_locked,
.global_unread_locked_mine,
.announce_read,
.announce_read_mine,
.announce_read_locked,
.announce_read_locked_mine,
.announce_unread,
.announce_unread_mine,
.announce_unread_locked,
.announce_unread_locked_mine,
.forum_link,
.forum_read,
.forum_read_locked,
.forum_read_subforum,
.forum_unread,
.forum_unread_locked,
.forum_unread_subforum,
.sticky_read,
.sticky_read_mine,
.sticky_read_locked,
.sticky_read_locked_mine,
.sticky_unread,
.sticky_unread_mine,
.sticky_unread_locked,
.sticky_unread_locked_mine,
.topic_moved,
.topic_read,
.topic_read_mine,
.topic_read_hot,
.topic_read_hot_mine,
.topic_read_locked,
.topic_read_locked_mine,
.topic_unread,
.topic_unread_mine,
.topic_unread_hot,
.topic_unread_hot_mine,
.topic_unread_locked,
.topic_unread_locked_mine,
.pm_read,
.pm_unread {
	background-image: none;
}

.forum_read_subforum::after {
	filter: drop-shadow(-1px 0px var(--sec-clr)) drop-shadow(0px -1px var(--sec-clr)) drop-shadow(0px 1px var(--sec-clr)) drop-shadow(1px 0px var(--sec-clr));
	color: var(--txt-clr);
}

dd.lastpost>span>*:not(dfn) {
	position: relative;
	z-index: 2;
}

.mark-read:before {
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: normal;
	padding-right: 2px;
	content: "\f046";
}

.check:before {
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	padding-right: 2px;
	content: "\f046";
}

.settings:before {
	font-family: FontAwesome;
	font-size: 20px;
	padding-right: 2px;
	content: "\f1de";
}

fieldset#ThemePicker input {
	border: none;
	display: none;
	appearance: none;
}

#ThemePicker {
	display: inline-block;
	padding-block: 2px;
}

#ThemePicker i {
	position: relative;
	cursor: pointer;
}

#ThemePicker i::before {
	font-size: 16px;
	color: var(--txt-clr);
	position: relative;
	z-index: 2;
	display: block;
	margin: 0;
	padding: 0;
	margin-inline: auto;
}

#ThemePicker input:not(:checked)+label i {
	color: hsl(0deg 0% 0% / 25%);
	transition: all ease-in 250ms;
}

#ThemePicker i::after {
	font-family: hexagon;
	font-size: 27px;
	position: absolute;
	top: -5px;
	content: "\e800";
}

#ThemePicker i.fa-sun-o::after {
	z-index: 1;
	left: 0;
}

#ThemePicker i.fa-moon-o::after {
	right: 0;
}

.overlay {
	border: none;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	max-width: unset;
	height: 100%;
	max-height: unset;
	margin: 0;
	transition: transform ease-in 0.5s, display 0.5s ease-in;;
	transform: scaleX(0);
	transform-origin: left;
	transition-behavior: allow-discrete;
}

.overlay[open] {
	transform: scaleX(1);
	@starting-style{
		transform: scaleX(0);
	}
}

#jumpbox-responsive.overlay {
	transform-origin: right;
}

.overlay-content {
	text-align: left;
	position: relative;
	top: 15%;
	width: 100%;
}

.overlay a {
	font-size: 30px;
	text-decoration: none;
	display: block;
	padding: 8px;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	background-color: #00000080;
	background-color: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
}

.overlay-content .icon {
	font-size: 30px;
}

.overlay .closebtn {
	font-size: 60px;
	position: absolute;
	top: -5px;
	right: 20px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 0;
		right: 35px;
	}
}

.overlay-content li {
	display: block;
}

.overlay-content #username_logged_in {
	text-align: center;
}

.overlay-content #username_logged_in img {
	max-height: 40px;
}

.overlay-content #username_logged_in [class*="username"] {
	vertical-align: middle;
}

.overlay-content #username_logged_in [class*="username"]::after,
.overlay-content .dropdown-toggle:not(.header-avatar) {
	display: none;
}

.overlay-menu {
	display: grid;
}

.overlay-menu .header-profile {
	width: 100%;
}

.overlay-menu .dropdown {
	background: transparent;
	border: none;
	position: unset;
	display: block;
	margin: 0;
	padding: 0;
}

.overlay-menu .pointer,
.overlay-menu .separator {
	display: none;
}

.overlay-menu .dropdown-contents {
	border: none !important;
	box-shadow: none;
	max-height: unset;
	padding: 0;
}

.overlay-content [data-link-first] {
	order: -2;
}

.overlay-content [data-link-second] {
	order: -1;
}

.overlay-content #username_logged_in {
	pointer-events: none;
}

.overlay-content .responsive-hide {
	display: block !important;
}

@media (max-width:700px) {
	.nav-main>li {
		display: none;
	}
}

@media (max-width: 700px) {
	.responsivebutton {
		position: fixed;
		z-index: 1;
		right: 15px;
		bottom: 20px;
	}
}

@media (max-width: 700px) {
	.responsivebutton .icon {
		font-size: 25px;
		bottom: -5px;
		left: 1px;
	}
}

@media (max-width: 700px) {
	.responsivebutton:before {
		font-size: 50px;
		top: -6px;
	}
}

.quickmod .button .icon,
.topic-tools .button .icon {
	left: 3px;
}

a.nav-avatar {
	font-size: 35px;
	text-align: center;
}

a.nav-avatar img {
	vertical-align: middle;
	width: auto;
	max-height: 40px;
	margin-bottom: 2px;
}

.stat-block p {
	margin-top: 6px;
	margin-bottom: 15px;
	padding: 5px;
}

.stat-block h3 {
	padding: 10px 8px;
}

@media (max-width: 700px) {
	.stat-block {
		text-align: center;
	}
}

@media (max-width: 700px) {
	.stat-block p {
		text-align: left;
	}
}

.no-avatar .avatar-container {
	background-image: url(./images/no_avatar.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 90px;
	height: 90px;
}

@media (max-width: 700px) {
	.no-avatar .avatar-container {
		background-position: inherit;
		background-size: 32px;
		float: left;
		width: 32px;
		height: 32px;
		margin-right: 10px;
	}
}

.panel-container h3 {
	padding: 10px 5px;
}

.contact-icon:before {
	font-family: FontAwesome;
	font-size: 16px;
	font-weight: normal;
	text-shadow: none;
	content: "\f086";
}

.pm-icon:before {
	content: "\f086";
}

.email-icon:before {
	content: "\f003";
}

.jabber-icon:before {
	font-size: 16px;
	content: "\f0eb";
}

.phpbb_icq-icon:before {
	content: "\2698";
}

.phpbb_wlm-icon:before {
	content: "\f007";
}

.phpbb_aol-icon:before {
	content: "\f031";
}

.phpbb_website-icon:before {
	content: "\f0ac";
}

.phpbb_youtube-icon:before {
	content: "\f16a";
}

.phpbb_facebook-icon:before {
	content: "\f230";
}

.phpbb_googleplus-icon:before {
	content: "\f0d5";
}

.phpbb_skype-icon:before {
	content: "\f17e";
}

.phpbb_twitter-icon:before {
	content: "\f099";
}

.phpbb_yahoo-icon:before {
	content: "\f19e";
}

.profile-contact .button:before {
	font-size: 25px;
	top: -5px;
	left: 5px;
	display: none;
}

.profile-contact .button {
	margin-left: -10px;
}

@media (max-width: 700px) {
	.profile-contact {
		position: absolute;
		top: 16px;
		right: 10px;
		display: inline-block !important;
		margin-left: 0 !important;
	}

	.ucp-main .profile-contact {
		display: none !important;
	}

	.profile-contact strong {
		display: none;
	}

	.profile-contact .button:before {
		font-size: 32px;
		top: -9px;
		left: 23px;
		display: block;
	}

	.profile-contact .button {
		margin-left: 0;
		padding-block: 0;		
	}

	.has-profile .post-buttons {
		right: 50px;
	}
}

.custombbcode {
	width: auto !important;
	height: 20px !important;
	margin: 1px !important;
	padding: 0px 5px !important;
}

.custombbcode:before {
	display: none;
}

.custombbcode:hover,
.custombbcode:active,
.custombbcode:focus {
	text-shadow: none;
}

@media (max-width: 700px) {
	ul#nav-main li {
		display: none;
	}

	.notification_list li {
		display: block !important;
	}
}

.badge {
	font-size: .8rem;
	opacity: 1;
	position: relative;
	top: 5px;
	width: 25px;
	padding: 0;
	isolation: isolate;
}

.badge::before {
	font-family: hexagon;
	font-size: 25px;
	position: absolute;
	z-index: -1;
	top: -6px;
	left: 0;
	content: "\e800";
}

.badge a {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: initial;
	overflow: hidden;
	width: 25px;
	height: 14.43px;
}

.pagination .button {
	isolation: isolate;
}

.row .pagination li a {
	line-height: 1.3;
	position: relative;
	margin: 0;
	padding: 9px 11px;
	isolation: isolate;
}

.row .pagination li a:before {
	font-family: hexagon;
	font-size: calc(32px * 0.8);
	color: var(--accent-color);
	position: absolute;
	z-index: -1;
	top: -3px;
	left: 50%;
	content: '\e800';
	transform: translateX(-50%);
}

/* BELL */

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	2% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	4% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	6% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	8% {
		-webkit-transform: rotate(-22deg);
		transform: rotate(-22deg);
	}

	10% {
		-webkit-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	12% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	14% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	16% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	18% {
		-webkit-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	20%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes ring {
	0% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	2% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	4% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	6% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	8% {
		-webkit-transform: rotate(-22deg);
		transform: rotate(-22deg);
	}

	10% {
		-webkit-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	12% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	14% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	16% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	18% {
		-webkit-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	20%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.faa-ring.animated {
	-webkit-animation: ring 2s ease infinite;
	-moz-animation: ring 2s ease infinite;
	animation: ring 2s ease infinite;
	transform-origin-x: 50%;
	transform-origin-y: 0px;
	transform-origin-z: initial;
}

.faa-ring.animated.faa-slow,
.faa-ring.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover>.faa-ring.faa-slow {
	-webkit-animation: ring 3s ease infinite;
	-moz-animation: ring 3s ease infinite;
	animation: ring 3s ease infinite;
}

/* PULSE */

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@media (max-width: 700px) {
	.pagination>ul>li {
		margin: 9px 0;
	}

	.nojs .wrap:has([data-mobile-button]:hover) #myNav,
	.nojs #jumpbox-btn:hover+#jumpbox-responsive {
		opacity: 1;
		transform: scaleX(1);
	}

	.nojs .overlay .dropdown {
		margin: 0;
	}
}

input[type="color"] {
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.nojs #ColorPicker,
.nojs #ThemeSwitcher {
	display: none;
}