/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			HexagonReborn
	Based on style:		prosilver
	Original author:	phpBB Limited ( https://www.phpbb.com/ )
	Modified by:		MannixMD @MannixMD
    --------------------------------------------------------------
*/

@import url("normalize.css?hash=48eb3f89");
@import url("base.css?hash=8acf858");
@import url("utilities.css?hash=d8f72c42");
@import url("common.css?hash=a9274ac8");
@import url("links.css?hash=6aa7cc2a");
@import url("content.css?hash=76d87887");
@import url("buttons.css?hash=b1d9571e");
@import url("cp.css?hash=6c07f0cf");
@import url("forms.css?hash=3166f885");
@import url("icons.css?hash=ef273dd9");
@import url("colours.css?hash=15adf79");
@import url("responsive.css?hash=9f7e9ab");
@import url("hexagon.css?hash=f1816c75");